<!--
   index.html
   
-->

<html>
  <head>
    <title>Robovolkec</title>
    <link rel="stylesheet" href='../static/master.css'/>
  </head>
  <body>
    <h1>Robovolkec</h1>
    <h3><img src="{{ url_for('video_feed') }}" width="50%"></h3>
    <hr>
    <a href="/motor/forward" class="button">NAPREJ</a>  
    <a href="/motor/back"class="button">NAZAJ</a>
    <a href="/motor/left" class="button">LEVO</a>  
    <a href="/motor/right"class="button">DESNO</a>
  </body>
</html>
